body {
  background-color: peachpuff;
  font-family: Arial, Helvetica, sans-serif;
}
H1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 300%;
  text-decoration-line: underline;
}
nav {
  background-color: peachpuff;
}
nav ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
  max-width: 80em;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  display: inline-flex;
  margin: 0px 0px 3px 0px;
  padding: 0px;
  align-items: center;
}
a {
  min-width: 8em;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  border: solid papayawhip;
  color: black;
  background-color: peachpuff;
}
a:hover {
  background-color: papayawhip;
  color: black;
}
a:visited {
  color: black;
}
.header {
  margin: auto;
  max-width: 80em;
  text-align: center;
  padding: 10px 10px 0px 10px;
  background-color: peachpuff;
  border-radius: 20px 20px 0px 0px;

  border: solid;
  border-color: papayawhip;
}

.container {
  margin: auto;
  max-width: 80em;
  border-radius: 0px 0px 25px 25px;
  background-color: papayawhip;
  padding: 10px;
  border: solid;
  border-color: papayawhip;
}
.basic {
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  margin: auto;
  max-width: 70em;
}
.question {
  margin: auto;
  max-width: 60em;
  border-radius: 25px;
  border-style: solid;
  border-color: peachpuff;
  background-color: antiquewhite;
  padding: 20px;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
}
.wrapper {
  margin: auto;
  max-width: 60em;

  display: grid;
  justify-items: center;

  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-column-gap: 0.3em;
}
.clickable_label {
  padding: 5px;
}
.clickable_label > input {
  visibility: hidden;
  position: absolute;
}
.clickable_label > input + div {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  border: solid peachpuff;
}
.clickable_label > input + div:hover {
  border: solid peachpuff;
  border-radius: 25px;
}
.clickable_label > input:checked + div {
  background-color: lightyellow;
  border: solid peachpuff;
}
input[type="submit"] {
  max-width: 100%;
  padding: 5px 10px;
  width: fit-content;
  background-color: lightyellow;
  border: solid peachpuff;
  border-radius: 25px;
}
input[type="submit"]:hover {
  background-color: peachpuff;
  border: solid peachpuff;
  border-radius: 25px;
}

.message_success {
  padding: 5px;
  margin: auto;
  width: fit-content;
  background-color: peachpuff;
  border: 2px solid palegreen;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  border-radius: 25px;
}

.message_error {
  padding: 5px;
  margin: auto;
  width: fit-content;
  background-color: peachpuff;
  border: 2px solid palevioletred;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  border-radius: 25px;
}
table {
  margin: auto;
  width: 80%;
  border: 2px solid peachpuff;
  background-color: peachpuff;
  padding: 5px;
}
td,
th,
tr {
  padding: 5px;
}
tr:nth-child(even) {
  background-color: antiquewhite;
}
tr:nth-child(odd):not(:first-child) {
  background-color: lightyellow;
}
th {
  border-bottom: solid 5px papayawhip;
}
