{% extends "layout.html" %} {% block content %}
<div class="basic">
  <div>
    <h3>Ylläpitäjän työkalut:</h3>
    {% for message in get_flashed_messages(category_filter=["message success"])
    %}
    <div class="message_success">{{ message }}</div>
    {%endfor%} {% for message in get_flashed_messages(category_filter=["message error"]) %}
    <div class="message_error">{{ message }}</div>
    {%endfor%} HUOM! Käyttäjän poistaminen on peruuttamaton toimenpide ja
    poistaa myös kaikki käyttäjän lisäämät kysymykset <br /><br />
    <form action="/updateuser" method="post">
      Käyttäjän ID <input type="number" name="user_id" id="user_id" required />
      <br />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <br />
      <input type="submit" name="action" value="oikeudet" />
      <input type="submit" name="action" value="poista" />
    </form>
  </div>
  <div></div>
  <div>
    <h3>Käyttäjien ilmiantamat kysymykset</h3>
    {% for question in flagged_questions %}
    <div class="question">
      ID: {{ question[0] }} <br /><br />
      Kysymys: {{ question[1] }} <br /><br />
      Vaihtoehto 1: {{ question[2] }} <br />
      Vaihtoehto 2: {{ question[3] }} <br />
      Vaihtoehto 3: {{ question[4] }} <br />
      Vaihtoehto 4: {{ question[5] }} <br /><br />
      Vastaus: {{ question[6] }} <br /><br />
      Avainsana 1: {{ question[7] }} <br />
      Avainsana 2: {{ question[8] }} <br />
      Avainsana 3: {{ question[9] }} <br />
      Avainsana 4: {{ question[10] }} <br /><br />
      Lisääjä: {{ question[11] }} <br />
      <br />
      Ilmiantaja: {{ question[12] }} <br /><br />
      Perustelu: {{ question[13] }} <br />
      <br />
    </div>
    <div class="wrapper">
      <form action="/deal_with_flagged_question" method="POST">
        <label class="clickable_label">
          <input
            type="radio"
            id="remove_flag"
            name="deal_with_flag"
            value="remove_flag {{ question[0] }}"
            checked="checked"
          />
          <div>Poista ilmianto</div>
        </label>

        <label class="clickable_label">
          <input
            type="radio"
            id="remove_question"
            name="deal_with_flag"
            value="remove_question {{ question[0] }}"
          />
          <div>Poista kysymys</div>
        </label>
        <label class="clickable_label">
          <input
            type="radio"
            id="update_question"
            name="deal_with_flag"
            value="update_question {{ question[0] }}"
          />
          <div>Päivitä kysymys</div>
        </label>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <br />
        <input type="submit" value="käsittele" />
      </form>
    </div>
    <br />
    {% endfor %}
  </div>
</div>
{% endblock %}
