{% extends "layout.html" %} {% block content %}
<div class="basic">
  <div class="question">
    <b>kysymys {{ id }}/ {{ session.question_set.items() | length }}:</b>
    <br /><br />{{ session.question_set[id]["question"] }}<br />
  </div>

  <form action="/answer" method="post">
    <div class="wrapper">
      <label class="clickable_label">
        <input
          type="radio"
          id="answer"
          name="answer"
          value="1"
          checked="checked"
        />
        <div><b>A) </b> {{ session.question_set[id]["choice1"] }}</div>
      </label>
      <label class="clickable_label">
        <input type="radio" id="answer" name="answer" value="2" />
        <div><b>B)</b> {{ session.question_set[id]["choice2"] }}</div>
      </label>

      <label class="clickable_label">
        <input type="radio" id="answer" name="answer" value="3" />
        <div><b>C)</b> {{ session.question_set[id]["choice3"] }}</div></label
      >
      <label class="clickable_label"
        ><input type="radio" id="answer" name="answer" value="4" />
        <div><b>D)</b> {{ session.question_set[id]["choice4"] }}</div></label
      >
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="id" value="{{ id }}" />

    <input type="submit" value="Lukitse vastaus" />
  </form>
</div>

{% endblock %}
