{%extends "layout.html"%} {% block content %}
<div class="basic">
  Valitse parametrit pelillesi: <br /><br />
  <form action="/game_start" method="post">
    Kysymysten määrä (1-20):
    <input
      type="number"
      id="how_many"
      name="how_many"
      min="1"
      max="20"
      required
    />
    <br />
    <br />
    Kirjoita toivomasi aiheet. Mikäli aiheista ei ole kysymyksiä, tai et
    kirjoita yhtään ehdotusta valitaan aiheet satunnaisesti: <br />
    <br />
    {%for a in range(4)%} {{a+1}}.
    <input type="text" id="keywords{{a}}" name="keywords" />

    <script>

      $(function () {
      autocomplete = [
        {% for suggestion in  suggestions %}
        "{{suggestion}}",
        {%endfor%}
      ]
        $("#keywords{{a}}").autocomplete({
          source: autocomplete,
        })
      })
    </script>
    <br />
    {%endfor%}
    <br />
    <div class="wrapper">
      <label class="clickable_label">
        <input type="checkbox" id="include_own" name="include_own" />
        <div>Sisältää myös omia kysymyksiä</div>
      </label>
      <label class="clickable_label">
        <input type="checkbox" id="include_answered" name="include_answered" />
        <div>Sisältää myös jo vastattuja kysymyksiä:</div>
      </label>
      <label class="clickable_label">
        <input type="checkbox" id="fill_with_random" name="fill_with_random" />
        <div>Täytä satunnaisilla</div>
      </label>
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
    </div>
    <br />
    <input type="submit" value="Aloita peli" />
  </form>
</div>
{%endblock%}
