<!DOCTYPE html>
<html lang="fi">
  <link rel="stylesheet" href="/static/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <head>
    <title>NANOVISA</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>

    <link
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="header">
      <h1>NANOVISA</h1>
      {% include "navigation.html" %}
    </div>

    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
