<!DOCTYPE html>
<head>
  <title>NANOVISA</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>

  <link
    href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet"
    type="text/css"
  />
</head>

<body>
  <h1>NANOVISA</h1>
  {% if session.user_id %} Olet kirjautunut käyttäjänimellä: {{session.user_name
  }} {% endif %} {% include "navigation.html" %} {% block content %}{% endblock
  %}
</body>
