{%extends "layout.html"%} {% block content %}
<h2>Kirjaudu sisään</h2>
<p>testikäyttäjä: nimi: testi, salasana: testi</p>

<form action="/login" method="post">
  Nimi: <br />
  <input type="Text" name="username" required/>
  <p>Salasana: <br /><input type="password" name="password" required/></p>
  {% for message in get_flashed_messages(category_filter=["error_login"])%}
  <div class="message_error" >
    {{ message }}
  {% endfor %}
  <p>
    <input type="submit" value="Kirjaudu" />
  </p>
</form>
<h2>tai luo uusi käyttäjä</h2>

<form action="/newuser" method="post">
  Nimi: <br />
  <input type="Text" name="username" required/>
  <p>Salasana: <br /><input type="password" name="password" required/></p>
  <p>
    Salasana uudelleen: <br /><input type="password" name="passwordAgain" required/>
  </p>
  {% for message in get_flashed_messages(category_filter=["error_new_user"])%}
  <div class="message_error" >
    {{ message }}
  {% endfor %}
  <p>
    <input type="submit" value="Luo uusi" />
  </p>
</form>
{%endblock%}
