{% extends "layout.html" %} {% block content %}
<div class="basic">
    <H2>Uusi viesti</H2>
    {% for message in get_flashed_messages(category_filter=["message success"])
    %}
    <div class="message_success">{{ message }}</div>
    {%endfor%} {% for message in get_flashed_messages(category_filter=["message error"]) %}
    <div class="message_error">{{ message }}</div>
    {%endfor%}
    
    <form action="/messages" method="POST">
    
        Vastaanottaja <br/><input type="text" name="receiver" id="receiver" required /> <br /><br />
        <label for="message">Viesti: </label><br />
        <textarea
            id="message"
            name="message"
            rows="10"
            cols="60"
            required
        ></textarea><br /><br />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="submit" value=" Lähetä " />
    {% if messages %}
    <H2>Saapuneet viestit</H2>
        {% for message in messages %} 
        <div class="question">
        Lähettäjä: {{ get_name(message[1])[0] }}<br/><br/>
        {{message[3]}}
        </div><br />
        {% endfor %}
    {% endif %}  
    </div>
{% endblock %}
