{%extends "layout.html"%} {% block content %}
<h2>Lisää uusi kysymys</h2>

<form action="/newquestion" method="post">
  <label for="question">Kysymys: </label><br />
  <textarea id="question" name="question" rows="5" cols="40"></textarea>
  <p>
    Vastausvaihtoehdot: <br />
    A <input type="text" id="choice1" name="choice1" /> <br />
    B<input type="text" id="choice2" name="choice2" /> <br />
    C<input type="text" id="choice3" name="choice3" /> <br />
    D<input type="text" id="choice4" name="choice4" />
  </p>
  <label for="answer">Valitse oikea vastaus</label>
  <p>
    <select name="answer" id="answer">
      <option value="1">A</option>
      <option value="2">B</option>
      <option value="3">C</option>
      <option value="4">D</option>
    </select>
  </p>
  <label for="keywords"
    >Lisää avainsana, voit lisätä useita avainsanoja eroitelemalla ne
    puolipisteellä</label
  >

  <p>
    <textarea id="keywords" name="keywords" rows="5" cols="40"></textarea>
  </p>
  <p>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
    <input type="submit" value="Lisää" />
  </p>
</form>
{%endblock%}
